<!DOCTYPE html>
<html>
<head>
    <title>Sortable Panels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Day Stuff</h1>
        <div class="sortable-container">
            <ul class="sortable-list" id="sortable">
                {% for item in data %}
                    <li class="ui-sortable-handle" id="{{ item[1]}}">
                        <div class="ui-sortable-handle panel-item list-group-item d-flex justify-content-between lh-condensed rounded-lg my-2">{{ item[2] }}</div>
                    </li>
                    <!-- Add more attributes as needed -->
                {% endfor %}
                <div class=add-button>+ Add Item</div>
                <!--save button-->
                <div class="add-button" id="save-button">Save Order</div>
            </ul>
        </div>
    </div>
    
    <script>
        function editItem(item) {
            const text = item.textContent.trim();
            const input = document.createElement('input');
            input.value = text;
            item.textContent = '';
            item.appendChild(input);

            input.addEventListener('blur', function() {
                item.textContent = input.value;
            });
            input.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    stopEditing();
                }
            });
            input.focus();
        }
    </script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='script.js')}}"></script>

</body>
</html>
